*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Add this CSS rule to limit the size of all manga images */
.topManga img {
    max-width: 150px; 
    height: auto;
    border-radius: 5%;
}

#sortChoices {
    text-align: center;
}

/*BashDB Header*/
.header {
    background-color: #262c3d;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    z-index: 2;
}


.logo-image { 
    width: 40px;
    height: auto; 
}

.logo-text {
    color: #eee;
    font-weight: 600;
}


.navbar {
    background-color: #262c3d;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

#menu-left {
    display: inline-flex;
    justify-content: flex-start;
    z-index: 1;
}

#menu-right {
    display: inline-flex;
    justify-content: flex-end;
    z-index: 2;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;    
    margin: 0 15px;
    margin-top: 5%;
    margin-bottom: 3%;    
    text-align: center;
    justify-content: center;
}

.nav-list li a:hover {
    color: rgb(101, 142, 233);
}

.bannerBg {
    width: 100%;
    max-height: 10%;
    opacity: 0.5;
}

.top-header{
    border: 1px solid rgb(0, 0, 0);
    background-color:#262c3d;
    color: #d8dddf;
}

/*Search Bar*/
.search{
    margin-top: 5px;
    margin-right: 10px;
    width: 200px;
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #d8dddf;
    border-radius: 30px;
    float: right;
}

.search:hover input{
    width: 500px;
}

.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h3{
    margin-top: 6%;
    margin-left: 5%;
    font-size: 30px;
}

.topManga {
    margin-top: 1%;
    margin-left: 5%;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 50px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:nth-child(odd) {
    background-color: #fff; 
}

.container {
    width: calc(90% - 200px);
    margin: 0 auto;
    overflow: hidden;
    transition: none;
    border: #000000 solid 1px;
    box-sizing: border-box;
    background-color: #f4f4ef;   
}

div.series {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.series img {
    justify-content: center;
    transition: transform 0.3s;
}

.series img:hover {
    transform: scale(1.1);
}

.series-caption {
    display: block;
}

#manga-list{
    display: flex;
    list-style: none;
    padding: 0;
}

#manga-list li {
    display: inline-block;
    margin-right: 20px; 
    vertical-align: top;
}

#manga-list img{
    width: 150px;
    height: 200px;
    border-radius: 5%;
}